<h1>Edit Character</h1>

<main class="character_edit">
<form action="/characters/<%= character["id"] %>" method="POST">
    <input type="hidden" name="_method" value="put">


    <label for="">Name:</label>
    <input type="text" name="name" value="<%= character["name"]%>">

    <label for="">Portrait Image:</label>
    <input type="text" name="character_portrait" value="<%= character["character_portrait"]%>">

    <label for="">Race:</label>
    <input type="text" name="race" value="<%= character["race"]%>">

    <label for="">Class:</label>
    <input type="text" name="character_class" value="<%= character["character_class"]%>">

    <label for="">Character Strength: </label>
    <input type="text" name="character_strength" value="<%= character["character_strength"]%>">

    <label for="">Character Flaw: </label>
    <input type="text" name="character_flaw" value="<%= character["character_flaw"]%>">

    <button>Submit Changes</button>
</form>

</main>