<header>
    <h1 class="title">Welcome to the Character Bank for the Creatively Bankrupt!</h1>

    <a href="/sign_up">New Member? Sign Up Here</a>
    <a href="/login">Already a Member? Login Here</a>
   
   

    <% if logged_in? %>
         <a href="/characters/new">Create New Character</a>
        <h3>Welcome back adventurer <%= current_user['first_name'] %></h3>

        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Logout</button>
        </form>

</header>

<main>
<% characters.each do |character|%>
    <h1><%= character["name"]%></h1>
    <img src="<%= character["character_portrait"]%>" alt="">
    <h2>Race: <%= character["race"]%></h2>
    <h2>Class: <%= character["character_class"]%></h2>
    <h2>Character Strength: <%= character["character_strength"] %></h2>
    <h2>Character Flaw: <%= character["character_flaw"] %></h2>

    <a href="/characters/<%= character["id"]%>/edit">Edit Character</a>

    <form action="/characters/<%= character["id"]%>" method="POST">
        <input type="hidden" name="_method" value="delete">

        <button>Delete Character</button>
    



    </form>
    <% end %>

<% end %>
</main>
